body {
  font-family: Arial, sans-serif;
  background-color: #f4cccc;
  padding: 30px;
  color: #333;
}

h2 {
  color: #2c3e50;
  margin-bottom: 20px;
  padding-bottom: 5px;
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #ffffff;
  padding: 10px 15px;
  margin-bottom: 10px;
  border-radius: 5px;
}

